<h2>All Contacts</h2>

<ul>
<% Contact.all.each do |contact| %>
  <li><a href="/contacts/<%= contact.id %>"><%= contact.first_name %> <%= contact.last_name %></a><br> <%= contact.email %><br> <%= contact.note %></li>
<% end %>
</ul>
